- if tasks.empty?
  %span.text-warning Não há tarefas!
- else
  %table.table.table-hover.table-bordered
    %thead
      %tr
        %th
        %th Título:
        %th Data de criação:
        %th Data de conclusão:
        %th Remover:
        %th Editar:
    %tbody
      - tasks.each do |task|
        %tr
          %td  
            <input type="checkbox"/>
          %td
            %strong= task.title
          %td.text-info= task.created_at
          %td.text-success= task.completed
          %td
            = link_to task_path(task), remote: true, method: :delete, data: {confirm: "Você tem certeza que deseja excluir a tarefa #{task.title}?"} do
              %i.icon-remove
          %td
            = link_to edit_task_path(task), remote: true do
              %i.icon-edit
          

           
           
